.itemlist-container {
    margin-top: 20px;
}

.itemlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item p {
    margin: 5px 0;
    font-size: 14px;
}
